    @use 'mixins';
    @use 'variables';

    .feature {
        background-color: rgb(0, 0, 0);
        // padding: 50px 0;
        & > h2{
            opacity: 0;
            color: white;
            // padding-top: 3rem;
            padding-bottom: 6rem;
            font-size: 3rem;
            font-family: variables.$SansSerif;
        }

        &__description {
            // text-shadow: 0px 0px 1px black;
            padding: 0.25rem 0rem;
            line-height: 1.40;
            display: inline;
            background-color: rgba(255, 255, 255, 0.61); 
            color: rgb(0, 0, 0);
            // box-decoration-break: clone;
            // filter: url('#goo');
            // border-radius: 5px;
            
            // &:focus{
                // outline: 0;
            // }
            span{
            }
        }

        &__grid {
            // height: 1600px;
                // position: relative;
                display: flex;
                flex-direction: column;
                gap: 5em;
                // margin: 50px 0;
                .feature__item:nth-child(1) {
                    background-image: url(/src/assets/images/direito-trabalhista-como-funciona-1536x864.jpg);
                    background-position: center 20%;
                    // span{
                    //     top: 3rem;
                    //     position: relative;
                    // }
                    // animation: card-load-left 400ms ease-in-out forwards;
                }
                .feature__item:nth-child(2) {
                    background-image: url(/src/assets/images/PROCESSO-CIVIL.jpg);
                    background-position: center 20%;
                    
                    // animation: card-load-right 400ms ease-in-out forwards;
                }
                .feature__item:nth-child(3) {
                    background-image: url(/src/assets/images/DIREITO-PREVIDENCIÁRIO-716225622.png); 
                    background-position: center 60%;
                    
                    // animation: card-load-left 400ms ease-in-out forwards;
                }
                .feature__item:nth-child(4) {
                    background-image: url(/src/assets/images/card-especial-civel.jpg);
                    background-position: center 20%;
                    
                    // animation: card-load-right 400ms ease-in-out forwards;
                }
                
                @include mixins.breakpoint-down(small) {
                    align-items: center;
                    left: 0;
                    overflow-x: hidden;
                    .feature__item{
                        // left: -60vw;
                        h2{
                            text-align: center;
                            top: -1em;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }

                @include mixins.breakpoint-up(medium) {
                    .feature__item{
                        left: -74.3%;
                        h2{
                            top: -1em;
                            left: 1em;
                        }
                    }
                }
            }
        
        &__item {
            position: relative;
            flex: 1;
            box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.247);
            background-repeat: no-repeat;
            background-size: cover;
            width: 70vw;
            height: max-content;
            border-radius: 5px;
            color: white;
            h2{
                text-align: left;
                position: relative;
                // top: -40px;
                // left: 1.5em;
                color: white;
                padding-top: 0em;
                font-size:2em;
            }
        }

        &__title{
            font-family: none;
        }
    }

    .fade-in-left{
        animation: card-load-left 1000ms ease-in-out forwards;
        @include mixins.breakpoint-down(small) {
            animation: card-load-left-sm 800ms ease-in-out forwards;
        }
    }

    .fade-in-right {
        animation: card-load-right 1000ms ease-in-out forwards;
        @include mixins.breakpoint-down(small) {
            animation: card-load-right-sm 800ms ease-in-out forwards;
        }
    }

    .title-fade-in{
        animation: title-fade-in 1500ms ease-in forwards;
    }

    @keyframes card-load-right {
        0%{
            left: 100vw;
            transform: translateX(100%);
        }
        100%{
            // right: 150vw;
            left: 7vw;
            // transform: none;
        }
    }

    @keyframes card-load-left {
        0%{
            left: -80vw;
            transform: translateX(-100%);
        }
        100%{
            left: 21vw;
            // transform: translateX(-50%);
            // transform: none;
        }
    }

    @keyframes card-load-right-sm {
        0%{
            left: 100vw;
            transform: translateX(100%);
        }
        100%{
            left: 0%;
        }
    }

    @keyframes card-load-left-sm {
        0%{
            left: 0;
            transform: translateX(-100%);
        }
        100%{
            left: 0%;
        }
    }

    

    @keyframes title-fade-in {
        10%{
            opacity: 0.15;
        }
        30%{
            opacity: 0.4;
        }
        70%{
            opacity: 0.75;
        }
        100%{
            opacity: 1;
        }
    }